@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background: #8d99ae;
  color: #707070;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  min-width: 400px;
}

.title {
  font-weight: 700;
  font-size: 50px;
}

.form-rounded {
  border-radius: 2em;
}

.back-card {
  border-radius: 40px !important;
}

#title {
  color: #2b2d42;
}

.city-name {
  position: absolute;
  width: 100%;
}

.city-name p {
  font-size: 15pt;
  font-weight: 700;
  top: -70px;
}

.city-name span {
  font-weight: 700px;
  font-size: 10pt;
  font-family: "Times New Roman", Times, serif;
  position: relative;
  top: -25px;
}

.temp span {
  font-weight: 100;
  font-size: 4em;
  letter-spacing: -2px;
  white-space: nowrap;
}

.card-mid {
  line-height: 0.5;
}

.condition {
  line-height: 1em;
  font-weight: 700;
  font-size: 1em;
  text-transform: capitalize;
}

.max::before {
  content: "";
  background: url("img/up.svg") no-repeat;
  width: 10px;
  height: 15px;
  display: inline-block;
  position: relative;
  top: 2px;
}

.min::before {
  content: "";
  background: url("img/down.svg") no-repeat;
  width: 10px;
  height: 15px;
  display: inline-block;
  position: relative;
  top: 2px;
}

.icon-container {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background: #202020;
}

.icon-container img {
  margin: auto;
}

.card-bottom {
  line-height: 0.5;
}

.card-bottom span {
  font-size: 12px;
}

.card-bottom p {
  font-size: 40px;
  font-weight: 100;
  letter-spacing: -2px;
}
